.main-archives-content {
    padding: 0 18.75vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    align-self: flex-start;
    flex-grow: 1;
}
.archives-vfs-logo-container {
    width: auto;
    height: 22.5rem;
    margin: 3rem 0;
}
.archives-vfs-logo {
    height: 100%;
    width: 100%;
}
.archives-button-container {
    display: flex;
    flex-direction: row;
    row-gap: 5rem;
}
.archives-button {
    border-right: solid 2px #5A5A5A;
    border-bottom: solid 2px #5A5A5A;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-top-right-radius: 10px;
    max-height: 3rem;
    overflow: hidden;
    position: relative;
    font-size: 2rem;
    font-weight: 500;
    padding: 0 1rem .5rem;
    transition: 0.3s ease-in-out;
}
.no-extend {
    height: 3rem;
}
.archives-button:first-of-type {
    margin-right: 2rem;
}
.archives-button-extend {
    position: relative;
    opacity: 0;
    top: -2.6rem;
    transition: .3s ease-in-out;
    margin: 0 0 .5rem 0;
    font-size: 1.75rem;
}
.archives-button-extend-secondary {
    opacity: 0;
    position: relative;
    max-height: 0;
    transition: .4s ease-in-out;
    font-size: 1.5rem;
}
.archives-button:hover .archives-button-extend {
    opacity: 1;
    top: 0;
}
.archives-button-extend:hover .archives-button-extend-secondary {
    opacity: 1;
    max-height: 3rem;
}
.archives-button:hover {
    border-color: #c34b1b;
    height: auto;
    max-height: 12rem;
}
.archives-button-extend:hover .archives-button {
    max-height: 21rem;
}
.no-extend:hover {
    max-height: 3rem;
    color: #c34b1b;
    transition: .2s ease-in-out;
}
@media (max-width: 83em) {
    .main-archives-content {
        padding: 0 1.375rem;
    }
    .archives-vfs-logo-container {
        height: 20rem;
    }
}
@media (max-width: 62.49em) {
    .archives-vfs-logo-container {
        width: 20rem;
        height: auto;
        margin: 2rem 0;
    }
}
@media (max-width: 40em) {
    .archives-vfs-logo-container {
        width: 15rem;
    }
}
@media (max-width: 22.5em) {
    .archives-vfs-logo-container {
        width: 13rem;
    }
}