* {
    box-sizing: border-box;
}
/*.selection-container-standings {
    width: 100%;
    padding: 0;
    background: transparent;
    border: none;
    position: relative;
    min-height: 5rem;
    display: flex;
    flex-flow: row;
}
.selections {
    border: 0.5px solid #eee; 
    display: flex;
    align-items: center;
    flex: 1;
    padding: 0 1rem;
    position: relative;
    max-width: 35%;
}
.select-box-standings {
    font-size: 1.3vh;
    line-height: 1.2rem;
    color: #fff;
    pointer-events: none;
    position: absolute;
    top: 1.1rem;
}
.selections select {
    background-color: transparent;
    border: none;
    width: 100%;
    margin: 0;
    padding: 0.8rem 1.8rem 0 0;
    min-height: 2.5rem;
    background-image: url(../../../img/misc/caret-down-solid.png);
    background-position: 100%;
    background-size: 5%;
    margin-top: auto;
    margin-bottom: auto;
    background-repeat: no-repeat;
    overflow: hidden;
}
.select-container {
    border: none;
    appearance: none;
    color: #fff;
    background-color: transparent;
    font-size: 1rem;
    font-weight: 600;
    outline: none;
    width: 100%;
}
.selection-table {
    padding: 0 18.75vw;
    display: flex;
}*/
.standings-table {
    padding: 0 18.75vw;
    height: auto;
    margin-top: 1.5vh;
    display: flex;
}
/*.selections select option {
    background-color: #000;
}
.select-container .selections select {
    color: #fff;
    background-image: url(../../../img/misc/caret-down-solid.png);
}
.standings-table-box {
    width: 100%;
    table-layout: fixed;
    border-top: 2px solid #c0c0c0;
    border-right: 2px solid #c0c0c0;
    border-left: 2px solid #c0c0c0;
    animation: a .5s ease-in-out;
    box-shadow: 0.2rem 0.1rem 2.6rem rgba(0,0,0,.05);
    position: relative;
    background: #000;
    margin-bottom: 10vh;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}*/
.standings-table-box thead {
    background: #c34b1b;
}
.standings-table-box thead .team-standings-table-box-header {
    font-size: 1rem;
    color: #fff;
    text-align: left;
    height: 2rem;
    padding: 0 1rem 0 0.5rem;
}
.standings-table-box thead .team-position{
    width: 5rem;
    text-align: center;
}
.standings-table-box thead .team-team {
    text-align: left;
    padding: 0 0 0 10rem;
    width: 30rem;
}
.standings-table-box thead .team-points {
    text-align: center;
    width: 2.5rem;
    padding: 0;
}
.standings-table-box tbody .team-standings-table-row .team-standings-table-cell-position {
    text-align: center;
}
.standings-table-box tbody .team-standings-table-row .team-standings-table-cell {
    font-size: 2rem;
    font-weight: 600;
    color: #fff;
    padding: 0 1rem;
}
td, th {
    padding: 0;
}
.standings-table-box tbody .team-standings-table-row .team-standings-table-cell-team {
    padding: 0 1rem 0 0;
}
.team-standings-table-team-details {
    display: flex;
    flex-direction: row;
}
.team-standings-table-team-details .team-standings-team-image-container {
    width: 55px;
    height: 55px;
    display: absolute;
}
.team-standings-team-name-container {
    width: 100%;
    display: flex;
    align-items: center;
}
.team-standings-team-name {
    display: flex;
    align-items: center;
    white-space: nowrap;
    width: 100%;
    text-align: left;
}
.team-standings-table-row {
    height: 5rem;
    border-right: 2px solid #c0c0c0;
    border-bottom: 2px solid #c0c0c0;
}
.standings-table-box tbody .team-standings-table-row .team-standings-table-cell-full-name, .standings-table-box tbody .team-standings-table-row .team-standings-table-cell-number {
    font-weight: 500;
    font-size: 1.5rem;
    color: #c34b1b;
    display: block;
    min-width: 3.5rem;
    padding: 0 0 0 1.5rem;
}
.standings-table-box tbody .team-standings-table-row .team-standings-table-cell-full-name {
    color: #fff;
    display: block;
}
.team-standings-team-link {
    color: inherit;
    text-decoration: none;
}
a {
    background-color: transparent;
}
.standings-table-box tbody .team-standings-table-logo {
    height: 2.5rem;
    width: auto;
    margin: 0 0 0 1rem;
}
img {
    max-width: 100%;
    border: 0;
}
.standings-table-box tbody .team-standings-table-row .team-standings-table-cell-team {
    font-size: 1.6rem;
    color: #fff;
    font-weight: 500;
}
.standings-table-box tbody .team-standings-table-row .team-standings-table-cell-points {
    text-align: center;
    font-weight: 700;
    font-size: 1.6rem;
    color: #fff;
    margin: 0 1rem 0 0;
    padding: 0;
}
.standings-table-box tbody .team-standings-table-row .team-p1 {
    text-align: center;
    font-weight: 700;
    font-size: 1.6rem;
    color: #FFD700;
    margin: 0 1rem 0 0;
    padding: 0;
}
.standings-table-box tbody .team-standings-table-row .team-p2 {
    text-align: center;
    font-weight: 700;
    font-size: 1.6rem;
    color: #C0C0C0;
    margin: 0 1rem 0 0;
    padding: 0;
}
.standings-table-box tbody .team-standings-table-row .team-p3 {
    text-align: center;
    font-weight: 700;
    font-size: 1.6rem;
    color: #CD7F32;
    margin: 0 1rem 0 0;
    padding: 0;
}
.standings-table-contents {
    max-height: 65px;
}
@media (max-width: 83em) {
    .selection-table, .standings-table{
        padding: 0 1.375rem;
    }
}
@media (max-width: 62.49em) {
    .standings-table-box thead .team-standings-table-box-header {
        font-size: 0.8rem;
        padding: 0 0.5rem 0 1.1rem;
    }
    /*.selection-container-standings {
        flex-flow: column;
        min-height: 7rem;
    }
    .select-box-standings {
        line-height: 0;
    }*/
    .team-standings-table-row {
        height: 3rem;
    }
    .standings-table-box tbody .team-standings-table-row .team-standings-table-cell-full-name, .standings-table-box tbody .team-standings-table-row .team-standings-table-cell-number {
        font-weight: 500;
        font-size: 1rem;
    }
    .standings-table-box thead .team-position {
        width: 3rem;
    }
    .standings-table-box thead .team-standings-table-box-header {
        padding: 0 1rem 0 1rem;
    }
    .team-standings-table-team-details {
        overflow: hidden;
        width: 100%;
    }
    .team-change-hide {
        display: none!important;
    }
    .standings-table-box tbody .team-standings-table-logo {
        height: 1.5rem;
    }
    .standings-table-box tbody .team-standings-table-row .team-p2 {
        font-size: 1.1rem;
        white-space: nowrap;
    }
    .standings-table-box tbody .team-standings-table-row .team-p3 {
        font-size: 1.1rem;
        white-space: nowrap;
    }
    .standings-table-box tbody .team-standings-table-row .team-p1 {
        font-size: 1.1rem;
        white-space: nowrap;
    }
    .standings-table-box tbody .team-standings-table-row .team-standings-table-cell-points {
        font-size: 1.1rem;
    }
    .team-standings-table-team-details .team-standings-team-image-container {
        padding: 0 0.5rem 0 0;
    }
    .standings-table-box thead .team-points {
        width: 3rem;
        padding: 0 1rem 0 0;
    }
    .standings-table-box tbody .team-standings-table-row .team-standings-table-cell-position {
        font-size: 1.1rem;
        padding: 0;
    }
    .standings-table-box thead .team-alt-box {
        display: flex;
        align-items: center;
        color: #fff;
    }
    .standings-table-box thead .team-alt {
        display: flex;
        align-items: center;
    }
    .standings-table-box thead .team-team .team-standings-table-box thead .team-alt {
        width: auto;
        text-align: left;
        padding-left: 7rem;
    }
    .standings-table {
        padding: 0;
    }
}
@media (min-width: 62.49em) {
    .team-change-show {
        display: none!important;
    }
}
@media (max-width: 22.5em) {
    .standings-table-box tbody .team-standings-table-row .team-standings-table-cell-position {
        font-size: 1rem;
    }
    .standings-table-box tbody .team-standings-table-logo {
        height: 1.2rem;
        margin: 0;
    }
    .standings-table-box tbody .team-standings-table-row .team-standings-table-cell-full-name {
        font-size: .9rem;
    }
    .standings-table-box tbody .team-standings-table-row .team-standings-table-cell-points {
        font-size: .9rem;
    }
}