.selection-container-standings {
    width: 100%;
    padding: 0;
    background: transparent;
    border: none;
    position: relative;
    min-height: 5rem;
    display: flex;
    flex-flow: row;
}
.selections {
    border: 0.5px solid #eee; 
    display: flex;
    align-items: center;
    flex: 1;
    padding: 0 1rem;
    position: relative;
    max-width: 35%;
}
.select-box-standings {
    font-size: 1.3vh;
    line-height: 1.2rem;
    color: #fff;
    pointer-events: none;
    position: absolute;
    top: 1.1rem;
}
.selections select {
    background-color: transparent;
    border: none;
    width: 100%;
    margin: 0;
    padding: 0.8rem 1.8rem 0 0;
    min-height: 2.5rem;
    background-image: url(../../../img/misc/caret-down-solid.png);
    background-position: 100%;
    background-size: 5%;
    margin-top: auto;
    margin-bottom: auto;
    background-repeat: no-repeat;
    overflow: hidden;
}
.select-container {
    border: none;
    appearance: none;
    color: #fff;
    background-color: transparent;
    font-size: 1rem;
    font-weight: 600;
    outline: none;
    width: 100%;
}
.selection-table {
    padding: 0 18.75vw;
    margin: 1rem 0;
    display: flex;
}
.standings-table {
    padding: 0 18.75vw;
    height: auto;
    display: flex;
}
.selections select option {
    background-color: #000;
}
.select-container .selections select {
    color: #fff;
    background-image: url(../../../img/misc/caret-down-solid.png);
}
.standings-table-box {
    width: 100%;
    table-layout: fixed;
    border-top: 2px solid #c0c0c0;
    border-right: 2px solid #c0c0c0;
    border-left: 2px solid #c0c0c0;
    animation: a .5s ease-in-out;
    box-shadow: 0.2rem 0.1rem 2.6rem rgba(0,0,0,.05);
    position: relative;
    background: #000;
    margin-bottom: 10vh;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
.standings-table-box thead {
    background: #c34b1b;
}
.standings-table-box thead .standings-table-box-header {
    font-size: 1rem;
    color: #fff;
    text-align: left;
    height: 2rem;
    padding: 0 1rem 0 0.5rem;
}
.standings-table-box thead .position{
    width: 5rem;
    text-align: center;
}
.standings-table-box thead .driver {
    text-align: center;
    width: 30rem;
}
.standings-table-box thead .points {
    text-align: right;
    width: 4rem;
}
.standings-table-box tbody .standings-table-row .standings-table-cell-position {
    text-align: center;
}
.standings-table-box tbody .standings-table-row .standings-table-cell {
    font-size: 2rem;
    font-weight: 600;
    color: #fff;
    padding: 0 1rem;
}
td, th {
    padding: 0;
}
.standings-table-box tbody .standings-table-row .standings-table-cell-driver {
    padding: 0 1rem 0 0;
}
.standings-table-driver-details {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.standings-table-driver-details .standings-driver-image-container {
    height: 5rem;
    overflow: hidden;
    width: 7.5rem;
    position: relative;
}
.standings-driver-name-container {
    width: 100%;
    display: flex;
    align-items: center;
    margin-left: auto;
}
.standings-driver-name {
    display: flex;
    align-items: center;
    white-space: nowrap;
    width: 100%;
    text-align: left;
}
.standings-table-row {
    height: 5rem;
    border-right: 2px solid #c0c0c0;
    border-bottom: 2px solid #c0c0c0;
}
.standings-table-box tbody .standings-table-row .standings-table-cell-full-name, .standings-table-box tbody .standings-table-row .standings-table-cell-number {
    font-weight: 500;
    font-size: 1.5rem;
    color: #c34b1b;
    display: block;
    min-width: 3.5rem;
    padding: 0 0 0 1.5rem;
}
.standings-table-box tbody .standings-table-row .standings-table-cell-full-name {
    color: #fff;
    display: block;
}
.standings-driver-link {
    color: inherit;
    text-decoration: none;
}
a {
    background-color: transparent;
}
.standings-table-box tbody .standings-table-flag {
    height: 1.8rem;
    border: 0.1rem;
    border-radius: 0.4rem;
}
img {
    max-width: 100%;
    border: 0;
}
.standings-table-box tbody .standings-table-row .standings-table-cell-team {
    font-size: 1.6rem;
    color: #fff;
    font-weight: 500;
}
.standings-table-box tbody .standings-table-row .standings-table-cell-points {
    text-align: center;
    font-weight: 700;
    font-size: 1.6rem;
    color: #fff;
    margin: 0 1rem 0 0;
    padding: 0;
}
.standings-table-box tbody .standings-table-row .p1 {
    text-align: center;
    font-weight: 700;
    font-size: 1.6rem;
    color: #FFD700;
    margin: 0 1rem 0 0;
    padding: 0;
}
.standings-table-box tbody .standings-table-row .p2 {
    text-align: center;
    font-weight: 700;
    font-size: 1.6rem;
    color: #C0C0C0;
    margin: 0 1rem 0 0;
    padding: 0;
}
.standings-table-box tbody .standings-table-row .p3 {
    text-align: center;
    font-weight: 700;
    font-size: 1.6rem;
    color: #CD7F32;
    margin: 0 1rem 0 0;
    padding: 0;
}
.standings-table-box tbody .standings-table-row .relegation {
    text-align: center;
    font-weight: 700;
    font-size: 1.6rem;
    color: #FF0000;
    margin: 0 1rem 0 0;
    padding: 0;
}
.standings-table-box tbody .standings-table-row .promotion {
    text-align: center;
    font-weight: 700;
    font-size: 1.6rem;
    color: #03b11f;
    margin: 0 1rem 0 0;
    padding: 0;
}
.lazy-load {
    min-height: .1rem;
    min-width: .1rem;
}
.standings-championship-bar-container {
    height: 6rem;
    align-items: center;
    justify-content: center;
    display: flex;
    border-bottom: solid 1px #c34b1b;
    background: #000 linear-gradient(90deg, #000 20%, #c34b1b 350%);
}
.championship-menu {
    background-color: transparent;
    border: solid 3px #5A5A5A;
    border-radius: 30px;
    color: #fff;
    margin: 0 0 0 2rem;
    padding: .5rem 1rem;
    font-size: 1.4rem;
    cursor: pointer;
    width: 18rem;
}
.championship-menu:first-of-type {
    margin: 0;
}
.active {
    background-color: #5A5A5A;
    border-color: #c34b1b;
    transition: .15s ease-in-out;
}
.hide-main {
    display: none!important;
}
@media (max-width: 62.49em) {
    .selection-container-standings {
        flex-flow: column;
        min-height: 3.5rem!important
    }
    .select-box-standings {
        line-height: 0;
    }
    .standings-table-box thead .position{
        width: 3rem;
        text-align: left;
    }
    .standings-table-box thead .standings-table-box-header {
        padding: 0 1rem 0 1rem;
        font-size: .8rem;
    }
    .standings-table-box thead .driver-team {
        display: flex;
        align-items: center;
    }
    .standings-table-box thead .driver .standings-table-box thead .driver-team {
        width: auto;
        text-align: left;
        padding-left: 7rem;
    }
    .standings-table-box thead .driver-team-box {
        display: flex;
        align-items: center;
        color: #fff;
    }
    .standings-table-row {
        height: 4rem;
    }
    .standings-table-box tbody .standings-table-row .standings-table-cell-driver {
        padding: 0;
    }
    .standings-table-driver-details {
        overflow: hidden;
        width: 100%;
    }
    .standings-table-driver-details .standings-driver-image-container {
        padding: 0 0.5rem 0 0;
        width: 5.3rem;
        height: 4rem;
        min-width: 5.3rem;
        min-height: 4rem;
        position: relative;
    }
    .hide {
        display: none;
    }
    .standings-driver-name-container {
        flex-direction: column;
        align-items: flex-start;
        width: 70%;
    }
    .standings-table-box tbody .standings-table-row .standings-table-cell-full-name, .standings-table-box tbody .standings-table-row .standings-table-cell-number {
        font-size: 1rem;
        min-width: 0;
        padding: 0 0.5rem 0 0;
    }
    .standings-table-box tbody .standings-table-flag {
        height: .8rem;
        border-radius: 0.2rem;
    }
    .standings-table-box tbody .standings-table-row .standings-table-cell-team {
        font-size: .9rem;
        color: #fff;
        white-space: nowrap;
        overflow: hidden;
        max-width: 70%;
        float: left;
    }
    .standings-table-box tbody .standings-table-row .standings-table-cell-points {
        font-size: 1.1rem;
        white-space: nowrap;
    }
    .standings-table-box tbody .standings-table-row .standings-table-cell-points-p1 {
        font-size: 1.2rem;
        white-space: nowrap;
    }
    .standings-table-box tbody .standings-table-row .standings-table-cell-points-p2 {
        font-size: 1.2rem;
        white-space: nowrap;
    }
    .standings-table-box tbody .standings-table-row .standings-table-cell-points-p3 {
        font-size: 1.2rem;
        white-space: nowrap;
    }
    .standings-table-box tbody .standings-table-row .standings-table-cell-points .relegation {
        font-size: 1.2rem;
        white-space: nowrap;
    }
    .standings-table-box tbody .standings-table-row .standings-table-cell-points .promotion {
        font-size: 1.2rem;
        white-space: nowrap;
    }
    .standings-table-box thead .points {
        width: 3rem;
        padding: 0 1rem 0 0;
    }
    .standings-table-box tbody .standings-table-row .standings-table-cell-position {
        font-size: 1.1rem;
        padding: 0;
    }
    .standings-table-box thead .driver-team-box {
        display: flex;
        align-items: center;
        color: #fff;
    }
    .standings-table-box thead .driver .standings-table-box thead .driver-team {
        width: auto;
        text-align: left;
        padding-left: 7rem;
    }
    .standings-championship-bar-container {
        height: 4rem;
    }
    .championship-menu {
        border-radius: 10px;
        margin: 0 0 0 1rem;
        padding: .5rem;
        font-size: .8rem;
        width: 10rem;
    }
}
@media (min-width: 62.49em) {
    .show, .show1 {
        display: none!important;
    }
}
@media (max-width: 40em) {
    .show1 {
        display: none;
    }
    .select-container {
        font-size: 0.8rem;
    }
    .championship-menu {
        height: 2rem;
        width: 8rem;
        line-height: 1;
    }
    .hide2 {
        display: none;
    }
}
@media (min-width: 40em) {
    .show2 {
        display: none!important;
    }
}
@media (max-width: 75em) {
    .selections {
        max-width: 100%;
        align-items: center;
    }
}
@media (max-width: 83em) {
    .selection-table, .standings-table{
        padding: 0 1.375rem;
    }
}
@media (max-width: 22.5em) {
    .selection-table, .standings-table{
        padding: 0 .6875rem;
    }
    .standings-table-driver-details .standings-driver-image-container {
        display: none;
    }
    .standings-driver-name-container {
        margin-left: 0;
        width: 100%;
    }
    .standings-table-box tbody .standings-table-row .standings-table-cell-number, .standings-table-box tbody .standings-table-row .standings-table-cell-full-name {
        font-size: .9rem;
    }
    .standings-table-box tbody .standings-table-row .standings-table-cell-team {
        font-size: .7rem;
    }
    .standings-table-box tbody .standings-table-row .standings-table-cell-position {
        font-size: 1rem;
    }
    .standings-table-box tbody .standings-table-row .standings-table-cell-points {
        font-size: 1rem;
    }
    .standings-championship-bar-container {
        height: 3rem;
        justify-content: space-evenly;
    }
    .championship-menu {
        border-radius: 7px;
        border-width: 2px;
        margin: 0;
        padding: .25rem;
        font-size: .7rem;
        width: 6.5rem;
    }
}